{% extends "base.html" %}

{% block title %}Analysis{% endblock %}
{% block content %}
{% include "header2.html" %}
<header class="page-header" style="background-image: url('../static/images/analysis3.jpg');">
    <h1>Analysis</h1>
    <p>Credit Card Fraud Detection: Ensuring Financial Security</p>
</header>
<div class="container">
    <h2>Real Time Data Analysis using Power-bi</h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe title="cognizant final powerbi" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMzFjMTY5ZmUtNGNlZi00NmU1LTkzYmQtNThjYzljY2MyOGUzIiwidCI6ImRiMzYzNTUzLWQwYmItNDRmYS05OWQ4LTU3Njc4MTVkOTA2ZCJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

{% include "footer2.html" %}
{% endblock %}
