<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <!-- Adding Bootstrap-Flask styling here -->
    <!-- Here we can add css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles1.css') }}">
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
</body>
</html>