{% extends "base.html" %}

{% block content %}
<!-- New Section -->
<div class="new-section">
    <div class="project-info">
        <div class="info-section">
            <h2>Project Member Names</h2>
            <p>Shreya Jaygude</p>
            <p>Pradnya Sonawane</p>
            <p>Pradnya Kudwe</p>
            <p>Siddheshwari Patil</p>
            <p>Nikhil Surse</p>
            <p>Harsh Sutar</p>
            <!-- Add more members as needed -->
        </div>
        <div class="info-section">
            <h2>Programming Languages Used</h2>
            <p>Python </p>
            <p>Html</p>
            <p>CSS </p>
            <p>MySql </p>
            <p>DES </p>
            
            <!-- Add more languages as needed -->
        </div>
        <div class="info-section">
            <h2>Technologies Used</h2>
            <p>Machine Learning</p>
            <p>Web Development</p>
            <p>Flask</p>
            <p>Seaborn & Matplotlib Visualization</p>
            <p>Cloud</p>
            <p>Power Bi</p>
            
            <!-- Add more technologies as needed -->
        </div>
    </div>
    <div class="contact-us">
        <h2>Contact Us</h2>
        <p>Email: kudwepradnya1@gmail.com</p>
        <p>Phone: +9967453201</p>
        <p>Location: Dr Dy Patil Institute of Technology, Pimpri</p>
    </div>
</div>



<div class="footer">
    <div class="container">
        <p>@Credit Card Fraud Detection System | Team Techno</p>
    </div>
</div>
{% endblock %}