{% extends "base.html" %}

{% block title %}Vision{% endblock %}
{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="page-header" style="background-image: url('../static/images/VISION.jpg');">
    <h1>Vision</h1>
    <p>Transforming Financial Security: Pioneering a Safer Future</p>
</header>

<!-- Outer Box Section -->
<section class="outer-box-section">
    <div class="outer-box">
        <!-- Our Future Goals Header -->
        <h2>Our Future Goals</h2>
        <!-- Inner Box with Content -->
        <div class="inner-box">
            <p>
                Our vision is to revolutionize financial security with our Credit Card Fraud Detection System. 
                As final year students, we aim to integrate our prototype with real-time transaction systems, enabling instant fraud detection and prevention. 
                We strive to enhance our machine learning algorithms for advanced predictive analytics, ensuring proactive protection. 
                Our goal is seamless integration with various financial platforms for a unified defense against fraud. 
            </p>
        </div>
    </div>
</section>

{% include "footer.html" %}
{% endblock %}
